<!DOCTYPE html>
<html>
<body>

<h1>Cool pics</h1>
<p>Some cool pics</p>
<p><a href="/">Click to go back</a></p>

<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/all_my_homies.jpeg" alt="all_my_homies.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/i_my_not_show_it.jpeg" alt="i_my_not_show_it.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/my_lore.jpeg" alt="my_lore.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/never_ending.jpeg" alt="never_ending.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/normalize_this.jpeg" alt="normalize_this.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/peace.jpeg" alt="peace.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/shocked.jpeg" alt="shocked.jpeg" style="width:400px;height:500px;">>
<img src="https://raw.githubusercontent.com/quehorrifico/quehorrifico.github.io/main/cool_pics/younger_self.jpeg" alt="younger_self.jpeg" style="width:400px;height:500px;">>

</body>
</html>
